configuration {
	modes: "window,drun,run,ssh";
	font: "DM Sans 11";
	show-icons: false;
	terminal: "st";
	disable-history: false;
	cycle: false;
	click-to-exit: true;
	max-history-size:6;
	steal-focus:true;
}

timeout {
	action: "kb-cancel";
	delay: 0;
}

filebrowser {
	directories-first: true;
	sorting-method: "name";
}

window {
	width:450px;
	height: 200px;
	border-radius: 10px;
}

/*@theme "test"*/
