configuration {
	modes: "drun,run";
	font: "Liberation Sans 10";
	show-icons: false;
	terminal: "st";
	disable-history: false;
	cycle: false;
	click-to-exit: true;
	max-history-size:6;
	steal-focus:true;
}

timeout {
	action: "kb-cancel";
	delay: 0;
}

filebrowser {
	directories-first: true;
	sorting-method: "name";
}

@theme "simple"
