configuration {
	modes: "window,drun,run,ssh";
	font: "CascadiaCode NF 10";
	show-icons: false;
	terminal: "st";
	disable-history: false;
	cycle: false;
	click-to-exit: true;
	max-history-size:6;
	steal-focus:true;
}

timeout {
	action: "kb-cancel";
	delay: 0;
}

filebrowser {
	directories-first: true;
	sorting-method: "name";
}

window {
	width:500px;
	height: 250px;
	border-radius: 10px;
}
