configuration {
	display-drun: "Start:";
	drun-display-format: "{icon} {name}";
	font: "";
	modi: "window,run,drun";
	show-icons: true;
}

@theme "/dev/null"

*{
bg: #
bg-alt: #

fg: #
fg-alt: #
	

background-color: @bg;
border: ;
margin: ;
padding: ;
spacing: ;
}

window {
width: ;
}

element {
padding: ;
text-color: @fg-alt;
}

element selected {
text-color: @fg;
}

element-text {
background-color: inherit;
text-color: inherit;
vertical-align: 0.5;
}

element-icon {
size: "type your size";
}

entry {
background-color: @bg-alt;
padding: 12;
text-color: @fg;
}

inputbar {
children: [prompt, entry];
}

listview {
background-color: @bg;
columns: 1;
lines: 6;
}

mainbox {
children: [inputbar, listview];
background-color: @bg;
}

prompt {
enabled:true;
padding: 12 0 0 12;
background-color: @bg-alt;
text-color: @fg;
}
